@import "tailwindcss";

@theme {
  --color-background: #0f0f0f;
  --color-background-secondary: #1a1a1a;
  --color-primary: #ffcb05;
  --color-secondary: #e63f34;
  --color-text: #f5f5f5;
  --color-text-muted: #a1a1a1;
  --color-border: #2a2a2a;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
}

::selection {
  background-color: var(--color-primary);
  color: var(--color-background);
}
